body {
    background-color: goldenrod;
}

div {
    font-size: 20px;
    text-align: center;
    color: ghostwhite;
    text-shadow: 1.5px 1.5px silver;
}

button {
    box-sizing: border-box;
    border: 3px solid darkgoldenrod;
    background-image: linear-gradient(to bottom, silver, whitesmoke, white, whitesmoke, silver);
    width: 10%;
    height: 6%;
}